<div id="homepage">
     <h1 id="welcome-text">Welcome, {{name}}</h1>
</div>
<div id="homepage-form-container text-light bg-dark">
<form class="mb-3" id="homepage-form">
     <div class="mb-3 "id="search-container">
          <label for="search" class="search-label" id="search-movie-by-name">Search movie by name:</label>
          <input type="text" class="form-control text-light bg-dark border border-warning" id="search" autocomplete="off">
     </div>

</form>
</div>

<div class="list-group" id="listContainer">
     <!-- <a href="#" class="list-group-item list-group-item-action">A second link item</a> -->
</div>
<div id="movieContainer">

</div>