<div class="wrapper fadeInDown " id="loginPage">
     <h3>Login</h3>
     <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="text-light bg-dark">
               <img src="./assets/pngwing.com.png" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <form autocomplete="off"class="text-light bg-dark" >
               <input type="text" id="name" class="fadeIn second text-light bg-secondary border-0" name="login" placeholder="username"  >
               <input type="text" id="pass" class="fadeIn third text-light bg-secondary border-0" name="login" placeholder="password" >
               <input type="submit" class="fadeIn fourth" value="Log In" id="logButton">
          </form>

          <!-- Remind Passowrd 
         <div id="formFooter">
               <a class="underlineHover" href="#">Forgot Password?</a>
          </div> -->

     </div>
</div>