<div class="wrapper fadeInDown " id="loginPage">
     <h3>Register now</h3>
     <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="text-light bg-dark">
               <img src="./assets/pngwing.com.png" id="icon" alt="User Icon" />
          </div>

          <!-- reg Form -->
          <form autocomplete="off" class="text-light bg-dark">
               <input type="text" id="name" class="fadeIn second text-light bg-secondary border-0" name="register" placeholder="username" >
               <input type="text" id="pass" class="fadeIn second text-light bg-secondary border-0" name="register" placeholder="password" >
               <input type="submit" class="fadeIn fourth" value="Register" id="regButton">
          </form>
     </div>
</div>